<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href="/sessions/<%@user.id%>" data-method="delete">Log Out</a>
<a href="/bright_ideas">Bright Ideas</a>
<div>
 <h1><%= @user.name %></h1>
 <p><%=@post.user.name%> says: <%= @post.content %></p>
</div>
<div>
<table>
<thead>
	<tr>
	<td>Alias</td>
	<td>
	Name
	</td>
	</tr>
</thead>
<tbody>
	<% @post.LikedPost.each do |p| %>
	<tr>
	<td>
	<a href="/users/<%=@user.id%>"><%= p.user.alias %></a>
	</td>
	<td>
	<%= p.user.name %>
	</td>
	</tr>
	<%end%>
</tbody>
</table>

</div>
</body>
</html>