<!DOCTYPE html>
<html>
<head>
	<title>Show Specific User</title>
</head>
<body>
	<div>
		<a href="/sessions/<%@user.id%>" data-method="delete">Log Out</a>
		<a href="/bright_ideas">Bright Ideas</a>
	</div>
	<h3><%=@user.name%></h3>
	<h3><%=@user.alias%></h3>
	<h3><%=@user.email%></h3>
	</hr>
	<h3>Total Number of Posts: <%= @post.count %></h3>
	<h3>Total Number of Likes: <%= @post.first.LikedPost.count %></h3>
</body>
</html>